sts-ws/src/wsdl/example-base.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="urn:be:e-contract:sts:example" xmlns:tns="urn:be:e-contract:sts:example"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
	xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:be:e-contract:sts:example"
				schemaLocation="example.xsd" />
		</schema>
	</types>

	<message name="EchoRequest">
		<part name="EchoRequest" element="tns:EchoRequest" />
	</message>
	<message name="EchoResponse">
		<part name="EchoResponse" element="tns:EchoResponse" />
	</message>
	<message name="GetSelfClaimsRequest">
		<part name="GetSelfClaimsRequest" element="tns:GetSelfClaimsRequest" />
	</message>
	<message name="GetSelfClaimsResponse">
		<part name="GetSelfClaimsResponse" element="tns:GetSelfClaimsResponse" />
	</message>
	<message name="GetIdentityClaimsRequest">
		<part name="GetIdentityClaimsRequest" element="tns:GetIdentityClaimsRequest" />
	</message>
	<message name="GetIdentityClaimsResponse">
		<part name="GetIdentityClaimsResponse" element="tns:GetIdentityClaimsResponse" />
	</message>
	<message name="GetAddressClaimsRequest">
		<part name="GetAddressClaimsRequest" element="tns:GetAddressClaimsRequest" />
	</message>
	<message name="GetAddressClaimsResponse">
		<part name="GetAddressClaimsResponse" element="tns:GetAddressClaimsResponse" />
	</message>

	<portType name="ExampleServicePortType">
		<operation name="echo">
			<input message="tns:EchoRequest" />
			<output message="tns:EchoResponse" />
		</operation>
		<operation name="getSelfClaims">
			<input message="tns:GetSelfClaimsRequest" />
			<output message="tns:GetSelfClaimsResponse" />
		</operation>
		<operation name="getIdentityClaims">
			<input message="tns:GetIdentityClaimsRequest" />
			<output message="tns:GetIdentityClaimsResponse" />
		</operation>
		<operation name="getAddressClaims">
			<input message="tns:GetAddressClaimsRequest" />
			<output message="tns:GetAddressClaimsResponse" />
		</operation>
	</portType>

</definitions>